/**************** Full Page Overlay **/
.mask-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Translucent black background*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647; /* Ensure the modal box is at the forefront.*/
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


/**************** Modal Box Section (Centered Display) **/

/* Modal content area (centered display)*/
.modal-content {
  background-color: #fff;
  width: 90%;
  max-width:450px;
  max-height:450px;
  display: flex;
  flex-direction: column; /* Vertical layout*/
  border-radius:6px;
  box-shadow: 1px -3px 6px 0px rgba(0, 0, 0, .2);
  overflow: hidden;
}

/* Modal content area (displayed on the right)*/
.coupon-list-widget-conent{
  right: 10px;
  top:10px;
  width:350px;
  height:500px;
  max-height:85%;
  position: fixed;
  z-index: 2147483646;
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Vertical layout*/
  border-radius:6px;
  overflow: hidden;
  border: 1px solid #ebebeb;
  box-shadow: 0 4px 16px rgba(10, 22, 70, .4);
}

/* Top area*/
.modal-content .modal-header, .coupon-list-widget-conent .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebe6e6;
  width: 100%;
  height: var(--size-height-modeal-header);
  padding: 0px var(--size-padding-horizontal-modeal-header);
  background: var(--color-modeal-header-background);
  box-sizing: border-box;
}

/* Left LOGO*/
.modal-header .logo>img{
  width: 50px;
}
.modal-header .logo,
.coupon-list-widget-conent .logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.coupon-list-widget-conent .title{
  font-size: var(--size-font-modeal-header-title);
  font-weight: bold;
  flex: 1;
  padding-left: 10px;
}

/* Left button*/
.modal-header .btns{
  display: flex;
  flex-direction: row;
  position: relative;
}

.modal-header .btns .setting, .modal-header .btns .close{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  width:var(--size-height-modeal-operat-icon);
}
.modal-header svg.icon-i87i-svg path{
  fill: var(--color-modeal-header-icon)!important;
}

.modal-header svg.icon-i87i-svg:hover path{
  fill: var(--color-modeal-header-icon-hover)!important;
}

/****** Set Dropdown *******/
.setting-dropdown {
  position: absolute;
  top: 25px;
  inset-inline-end:0px;
  margin-top: 5px;
  width: 180px;
  max-height: 300px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 4px 11px rgba(10, 22, 70, .2);
  display: none;
  z-index: 99999999;
  border-radius: 6px;
}

.setting-dropdown.active {
  display: block;
}

.setting-category {
  border-top: 1px solid #eee;
  padding: 10px;
}

.setting-category-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}

.setting-option {
  padding: 3px 7px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.setting-option:hover {
  background-color: #f0f0f0;
}

/* Content area*/
.coupon-list-widget-conent .modal-body{
  overflow-y: auto; /* Add vertical scrollbar when content overflows*/
  position:relative;
  width:100%;
  flex: 1;
  background: var(--color-modeal-content-background);
}

/****************** Show Voucher Code (Auto Verification) **/
.deal-description-warpper{
  text-align: center;
  margin: 20px auto;
}

.deal-description-warpper >.title{
  color: #000;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 800;
}

.deal-description-warpper >.sub-title{
  color:#9F9F9F;
  font-size:14px;
}

.deal-coupons-warpper {
  display: flex; /* Horizontal arrangement*/
  overflow: hidden; /* Hide overflow*/
  position: relative;
  padding: 10px 20px;
  scroll-behavior: smooth; /* Smooth scrolling*/
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
}

.deal-coupons-warpper .coupon-item {
  background-color: #f6f7ff;
  border: 1px dashed #8096f8;
  color: #ccc;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
  border-radius: 4px;
  flex: none; /* Prevent content from being compressed*/
  white-space: nowrap; /* Prevent line breaks*/
}

.deal-coupons-warpper .coupon-item-active{
  color: #005cf6!important;
}

.deal-coupons-warpper .coupon-item-lose{
  text-decoration: line-through!important;
  text-decoration-thickness: 2px!important;
}

/****************** Progress Bar **/
.deal-progress-warpper{
  margin-top: 20px;
}

.deal-progress-warpper .progress-container{
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin: 0px auto;
  overflow: hidden;
}
.deal-progress-warpper .progress-bar {
  height: 8px;
  line-height: 8px;
  width: 50%;
  background-color: #4caf50;
  text-align: center;
  color: white;
  font-weight: bold;
  transition: width 0.5s ease-in-out;
}

/****************** Right-side floating button **/
.widget {
  right: 0;
  cursor: pointer;
  position: fixed;
  z-index: 2147483646;
  display: flex;
  flex-direction: row;
  transform: translateX(15px);
  transition: transform 0.3s ease; /* Smooth transition effect*/
}
.widget:hover {
  transform: translateX(0px);
}

.widget .content {
  display: flex;
  flex-direction: row;
  border-radius: 10px 0 0 10px;
  direction: ltr!important;
}

.widget .content .logo {
  height: 40px;
  width: 40px;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 10px #00000040;
  background-color: #ff7227;
  background-image: url(@logo@);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.widget .content .notification {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  background-color:#000;
  color: #fff;
}

.widget .content .drag {
  width: 15px;
  height: 40px;
  background: transparent linear-gradient(270deg, #fb6d56, #ec6751 59%, #e1624d) 0% 0% no-repeat padding-box;
  cursor: move;
}
.widget .content .drag img {
  width: 6px!important;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse-reveal {
  -webkit-animation: pulse-reveal 2s ease;
  animation: pulse-reveal 2s ease;
  animation-iteration-count: 10;
}
